#Если запрос не идет на кокретнуый файл (-f) или папку (-d) ->
RewriteCond %{REQUEST_FILENAME} !f
RewriteCond %{REQUEST_FILENAME} !d
#Тогда мы должны использовать это правило
RewriteRule (.*) index.php?$1 [L,QSA]
#Обьращаемся к методу index.php и методом GET отправляем $1
#[L,QSA]  L - последние првило без других срабатывать не должны
#QSA query string append  если есть доп параметры они не должны отбрасываться а одложны дополняться к Get параметрам